.nav-ul li {
  /* list-style-type: none; */
  display: inline-block;
  padding: 10px;
}
.nav-ul {
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}
.nav-ul li a {
  text-decoration: none;
  color: #ffff;
}
.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: skyblue;
  width: 100%;
}
.Register-form {
  margin-top: 10px;
  margin-left: 15px;
}
.login {
  margin-top: 10px;
  margin-left: 15px;
}
.nav-right {
  text-align: right;
}
.logo {
  width: 50px;
  float: left;
  border-radius: 50%;
  margin-top: 2px;
}
.addProduct {
  margin-top: 10px;
  margin-left: 15px;
}
.table {
  margin-top: 10px;
  margin-left: 10px;
}
.edit-button {
  margin: 0 10px;
}
.search {
  /* margin-left:10px ; */
  width: 30%;
}
.chat-search {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  margin-right: 5%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
